body {
  margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
height: auto;

}
html {
  height: auto;
  overflow: auto;
}

.image-section {
  background-color: #000;
}

.span_nav {
  color: #fff;
  z-index: 1;
}

.navigation {
  height: 400px;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 0;


  background-image: url("images/markus-spiske-pwFr_1SUXRo-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

span {
  font-size: 50px;
  font-weight: 600;
  color: rgb(68, 68, 68);
}
.header_text {
  position: absolute;
  width: 100%;
  height: 300px;
  display: flex;
  bottom: 0;
}

.text_left_side {
  margin: 40px 50px;
  width: 70%;
}
.text_right_side {
  margin: 40px 30px;
  width: 30%;
  background-image: url(images/solar_panels_assembly.jpg);
  
}
.contact_button {
  margin-top: 20px;
}



.btn {
  width: 150px;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 25px;
  margin: 15px 0px 20px 0;
  outline: none;
  border: 1px solid rgb(142, 204, 152);
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 6px rgba(74, 128, 138, 0.1), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  background-color: #83d393;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
  color: white;
}
.btn:focus-visible {
	border: 1px solid #4cf96f;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	
-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  background-color: #fffffffd;
}
.btn:active {
	background-color: #808080;
}
.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}



.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 30px;
}
li {
  font-weight: 500;
  font-size: 20px;
  padding-left: 10px;
}
.nav-links li a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 25px;
  position: relative;
}

.nav-links li a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
  transition-delay: 0.01s;
}

.nav-links li a:hover:after {
  transform: scaleX(1);
}

#carouselExampleIndicators {
  max-width: 500px;
  min-width: 300px;
  min-height: 300px;
  max-height: 500px;
}
.carousel-item img {
  width: 600px;
}
.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 450px) {
  .header_text {
    height: auto; /* Позволяет содержимому изменять высоту в зависимости от контента */
    padding: 20px; /* Добавляет отступы для улучшения читаемости на маленьких экранах */
  }
  .span_nav{
    font-size: 27px;
    
  }

  .text_left_side {
    margin: 20px 20px;
    width: 100%;
  }

  .text_right_side {
    width: 10%;
  }
  .intro_span{
    font-size: 25px;
  }
  h3{
    font-size: 20px;
  }
  .moj_prad{
    margin-top: 20px;
  }
  li {
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
  }
  strong{
    
    font-size: 25px;
}
p.offer_p{
  font-size: 15px;
}
span.offer_2{
  font-size: 35px;
}
div.intro {
  position: relative;
  width: 100%;
  bottom: 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 
  flex-wrap: wrap;
}

div.content_intro_right {
  margin: 40px 10px;
  height: auto;
  flex: 2;
  min-width: 80%;
}
div.content_intro_left {
  margin: 10px;
  min-width: 90%;
  height: 290px;
  
}
.intro_about{
  margin-top: 20px;
}
div.advantages{
  margin: 10px 0px;
}
div.advantages_icon{
  margin: 20px 20px;
}

div.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 20px;
  border-radius: 15px;
  height: 170px;
  width: 150px;
  box-shadow: 2px 1px 8px rgba(79, 129, 76, 0.797);
}
p.p_benefits{
  display: none;
}
div.button_centre{
  display: flex;
  justify-content: center;
}
div.box{
  display: none;
}

}
